// font size
$fontSizeXSmall: 10px;
$fontSizeSmall: 12px;
$fontSizeMedium: 14px;
$fontSizeRegular: 16px;
$fontSizeLarge: 18px;
$fontSizeXLarge: 20px;
$fontSizeXXLarge: 24px;

// font weight
$fontWeightThin: 100;
$fontWeightExtraLight: 200;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightExtraBold: 700;
$fontWeightBlack: 800;

// different
$borderRadius: 5px;
$surfaceBorderRadius: 10px;
$boxShadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
$transition: all 0.2s ease;

// layout
$topAppBarHeight: 64px;
$maxDeskWidth: 1352px;
$maxClaimWidth: 1096px;
$maxFormWidth: 374px;
